#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  max-width: 300px;
}

.q-header {
  text-align: center;
}
.q-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 505px;
  margin: 12px 0;
  border: 2px solid red;
}
.question {
  margin: 0.5rem;
}

.answer-field {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 12px;
}

.dis-str, .dis, .neu, .agr, .agr-str {
  margin: 2px;
}

.button-container {
  margin-top: 8px;
}


